version: "3"

services:
  nginx:
    container_name: nginx
    build:
      context: ./client/
      dockerfile: Dockerfile.prod
    restart: always
    ports:
      - 80:80
    depends_on:
      - api
    environment:
      NODE_ENV: production

  server:
    container_name: server
    build:
      context: ./server/
      dockerfile: Dockerfile.prod
    restart: always
    environment:
      NODE_ENV: production
      PORT: 3001
