h2 {
    text-align: center;
    margin: 0 0 10%;
}

.main {
    margin: 10% 30%;
    background-color: white;
}

.btn-primary {
    margin: 20px 0;
}

Form { 
    background-color: white;
    text-align: left;
}

